.cookies_popup {
    background-color: $color-secondary-background;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.5px solid $color-primary-background;
    .cookies_popup-info {
        color: $color-grey-white-2;
        font-size: 1.7rem;
        margin-right: 2rem;
        & .cookies_link {
            color: inherit;
        }
        @media only screen and (max-width: 380px) {
            font-size: 1.3rem;
        }
    }
    .cookies_popup-btn {
        background-color: $color-primary-background;
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 0.5rem 1.2rem;
        text-decoration: none;
        color: $color-primary;
        font-size: 1.7rem;
        border-radius: 1rem;
        font-weight: 700;
        @media only screen and (max-width: 380px) {
            font-size: 1.4rem;
            padding: 0.5rem 1.4rem;
        }
    }
}

.hidden {
    display: none;
}