.cta-section {
    background-color: $color-primary;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @media only screen and (max-width: 1000px) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
    @media only screen and (max-width: 450px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    & .cta__text {
        max-width: 900px;
        margin: 0 auto;
        font-weight: 900;
        font-size: 5.8rem;
        margin-bottom: 3rem;
        color: $color-black;
        @media only screen and (max-width: 900px) {
            font-size: 4.3rem;
        }
        @media only screen and (max-width: 450px) {
            font-size: 3.5rem;
        }
        @media only screen and (max-width: 350px) {
            font-size: 3.1rem;
        }
    }
}