.footer {
    background-color: $color-primary-background;
    padding-top: 8rem;
    padding-bottom: 10rem;
    @media only screen and (max-width: 900px) {
        padding-bottom: 8rem;
    }
    @media only screen and (max-width: 650px) {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    & .container {
        @media only screen and (max-width: 900px) {
            flex-direction: column;
        }
    }
    & .logo-box {
        flex: 1;
        @media only screen and (max-width: 900px) {
            margin-bottom: 5rem;
        }
        & .logo {
            height: 4rem;
            @media only screen and (max-width: 650px) {
                height: 3.5rem;
            }
        }
    }
    & .footer-column {
        flex: 1;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 650px) {
            flex-direction: column;
        }
        & .footer__menu {
            @media only screen and (max-width: 650px) {
                margin-bottom: 4rem;
            }
            &-head {
                font-weight: 500;
                font-size: 1.3rem;
                color: rgba($color-white, 0.6);
                margin-bottom: 1.8rem;
            }
            &-list {
                & li {
                    & a {
                        font-weight: 400;
                        font-size: 1.6rem;
                        color: $color-white;
                        text-decoration: none;
                    }
                    margin-bottom: 1rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}