.masthead-section {
    background-color: $color-primary-background;
    height: auto;
    margin-top: 80px;
    padding-top: 6rem;
    padding-bottom: 2rem;
    @media only screen and (max-width: 900px) {
        padding-top: 2rem;
    }
    @media only screen and (max-width: 650px) {
        padding-top: 3rem;
    }
    & .container {
        align-items: center;
        @media only screen and (max-width: 900px) {
            flex-direction: column;
        }
    }
    & .masthead-content {
        @media only screen and (max-width: 900px) {
            margin-right: 0;
            padding-top: 0;
            text-align: center;
            margin-bottom: 3rem;
        }
        @media only screen and (max-width: 450px) {
            margin-bottom: 2rem;
        }
        & .heading-text {
            font-size: 4.5rem;
            font-weight: 900;
            line-height: 1.1;
            margin-bottom: 2.5rem;
            @media only screen and (max-width: 1100px) {
                font-size: 3.7rem;
                margin-bottom: 2rem;
            }
            @media only screen and (max-width: 900px) {
                font-size: 4.5rem;
            }
            @media only screen and (max-width: 650px) {
                font-size: 3.2rem;
                margin-bottom: 2.5rem;
            }
            @media only screen and (max-width: 440px) {
                font-size: 2.8rem;
                margin-bottom: 2rem;
            }
            @media only screen and (max-width: 414px) {
                font-size: 2.7rem;
            }
            @media only screen and (max-width: 380px) {
                font-size: 2.4rem;
                margin-bottom: 1.8rem;
            }
            @media only screen and (max-width: 330px) {
                font-size: 2rem;
                margin-bottom: 1.4rem;
            }
        }
        & .subheading-text {
            max-width: 580px;
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 4rem;
            @media only screen and (max-width: 1100px) {
                max-width: 520px;
                font-size: 1.7rem;
                margin-bottom: 2rem;
            }
            @media only screen and (max-width: 900px) {
                font-size: 1.8rem;
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }
            @media only screen and (max-width: 650px) {
                max-width: 450px;
                font-size: 1.6rem;
                margin-bottom: 3rem;
            }
            @media only screen and (max-width: 490px) {
                font-size: 1.45rem;
                margin-bottom: 2.5rem;
            }
            @media only screen and (max-width: 450px) {
                font-size: 1.4rem;
            }
            @media only screen and (max-width: 375px) {
                font-size: 1.3rem;
            }
            @media only screen and (max-width: 350px) {
                font-size: 1.25rem;
            }
        }
        & .benefits-list {
            margin-bottom: 3rem;
            @media only screen and (max-width: 1100px) {
                margin-bottom: 2.5rem;
            }
            @media only screen and (max-width: 650px) {
                display: none;
            }
            & li {
                font-size: $default-font-size;
                font-weight: 700;
                margin: 1rem;
                &:first-child {
                    margin-left: 0 !important;
                }
                @media only screen and (max-width: 1100px) {
                    margin-left: 0;
                    margin-right: 0;
                    display: block !important;
                }
                @media only screen and (max-width: 900px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    display: inline-block !important;
                }
                & i {
                    color: $color-primary;
                    margin-right: 0.5rem;
                }
            }
        }
    }
    & .masthead-image {
        width: 50%;
        text-align: center;
        @media only screen and (max-width: 900px) {
            width: 100%;
        }
        & img {
            width: 300px;
            height: 567px;
            @media only screen and (max-width: 350px) {
                width: calc(300px - 20px);
                height: calc(567px - 20px);
            }
        }
    }
}