// Primary
$color-primary: #ffcc00;
$color-primary-light: #fff6d3;
$color-primary-dark: #d6ad06;
// Background Color
$color-primary-background: #121212;
$color-secondary-background: #1a1a1a;
// Default
$color-white: #ffffff;
$color-black: #000000;
$color-grey-white-1: #fcfcfd;
$color-grey-white-2: #f7f7f7;
// Font Size
$default-font-size: 1.6rem;